.SecundaryBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: auto;
    padding: 50px 0;
    

}

.SecundaryBannerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: #000;
    width: 54%;
    border-radius: 15px;
    text-align: center;
    height: auto;
    padding: 50px 0;
}

.btnSecundaryBanner {
    background: var(--primary-color);
    border: none;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
    margin: 40px 0px;
    font-weight: bolder;
    cursor: pointer;
}

.SecundaryBannerContent {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 30px;
        font-family: var(--title-font);
    }
    p {
        font-size: 20px;
    }
}

.animation {
    width: 250px;
    height: 250px; 
}

@media screen and (max-width: 854px) {
    .SecundaryBannerContainer{
        width: 85%;
    }
    
}