header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
}

.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    z-index: 15;
    h1{
        font-size: 40px;
        font-weight: bolder;
        font-family: var(--title-font);
    }
}

.logo {
    display: flex;
    align-items: center;
    margin: 0px 15px;
    gap: 10px;
}

.logoPerfil {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 0px -3px;
}

.menu_nav {
    .menu_list {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 25px;
      align-items: center;
      margin: 0 25px;
  
      li {
        button {
          font-weight: bolder;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 20px;
          color: white;
  
          &:hover {
            text-decoration: underline;
          }
  
          &:focus {
            outline: none;
          }
        }
      }
  
      span {
        color: white;
      }
    }
  }

@media screen and (max-width: 640px) and (orientation: landscape){
    header {
        height: 50px;
    }
}