footer {
    border-top: solid 2px #330c0f;
    background-color: black;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerContainerFlexTop{
    display: flex;
    margin: 35px;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    border-bottom: solid 1px #751d25;
    padding-bottom: 15px;
}

.footerContainerFlexBottom {
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    a {
        color: white;
        margin: 0 25px;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
    }
}

.footerSocialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.flexIcons {
    margin-top: 15px;
}

.socialMediaIcons {
    height: 35px;
    width: 35px;
    cursor: pointer;
    font-size: 35px;
    margin: 0 10px;
}

.madeByMH {
    background: #751d25;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.menu_nav {
    .menu_list {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 8px;
      align-items: center;
  
      li {
        button {
          font-weight: bolder;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 20px;
          color: white;
  
          &:hover {
            text-decoration: underline;
          }
  
          &:focus {
            outline: none;
          }
        }
      }

      a {
        margin: 0;
        padding: 0px 4px;
      }
  
      span {
        color: white;
      }
    }
  }

@media screen and (max-width: 768px) {
  .socialMediaIcons {
    font-size: 25px;
    height: 25px;
    width: 25px;
  }
  .footerContainerFlexTop{
    width: 85%;
  }
  .menu_nav {
    width: 100%;
    .menu_list {
      width: 100%;
      li {
        width: 100%;
      }
      flex-direction: column;
      li button {
        width: 100%;
        object-fit: cover;
        background-color: var(--primary-color) !important;
        border-radius: 10px;
        padding: 15px;
      }
    }
  }
  .disableMobile {
    display: none;
    margin: 25px;
  }
}