.AboutMeContainer{
    background-color: #751d25;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
    font-family: var(--text-font);
    padding-bottom: 50px;

}

.AboutMeIntro {
    h1 {
        margin: 25px 0;
        font-size: 55px;
        font-family: var(--title-font);
        font-weight: 100;
        position: relative; /* Necessário para posicionar o pseudo-elemento */
        text-align: center;
    }

    h1::after {
        content: "";
        display: block;
        width: 120px; /* Ajuste a largura da borda aqui */
        height: 8px;
        background-color: #751d25;
        margin: -10px auto; /* Centraliza a borda */
        position: absolute;
        border-radius: 15px;
        bottom: -5px; /* Ajuste a posição vertical se necessário */
        left: 50%;
        transform: translateX(-50%);
    }
}

.AboutMeBoxBoard {
    position: relative;
    background: black;
    color: white;
    width: 100%;
    height: auto;
    animation: none;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 0px 0px 15px 0px;
}

.AboutMeIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgPerfil{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10%;
    object-position: top center;

}

.textAboutMe {
    width: 40%;
}

.AMITextIntro {
    width: 70%;
    text-align: center;
}


.AboutMeFlexContent {
    text-align: center;
    display: flex;
    justify-content: space-around;
    h2 {
        font-family: var(--title-font);
        font-size: 30px;
    }
}
.textAMDescription {
    width: 100%;
    font-size: 25px;
    text-align: justify;
}

.mySkillBoard {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: flex-start;
    align-items: center;
}

.mySkillBoardCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
}

.AboutMeCard {
    background-color: #751d25;
    display: flex;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: all ease 0.5s;
}
.AboutMeCard:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: blue;
    animation: jumping 0.5s infinite;
}

.animationDev {
    width: 30%;
    height: 50%; 
    z-index: 25;
}

@keyframes jumping {
    0% {
        transform: translateY(0px);

    }

    50% {
        transform: translateY(2px);
    }
    
    100% {
        transform: translateY(-2px);
    }
}

@keyframes bouncingAnimationDiv {
    0% {
        transform: translateY(250px) scale(0.5, 0.5); /* Estado inicial sem deformação */
        transform: translateX(-150px);
        opacity: 0;
    }
    30% {
        transform: translateY(-150px) scale(1.1, 0.9); /* Aumenta em largura e comprime em altura no pico */
    }
    50% {
        transform: translateY(0) scale(0.9, 1.5); /* Deformação ao tocar o chão, esticando verticalmente */
    }
    75% {
        transform: translateY(-75px) scale(1.05, 0.95); /* Subida menor com leve deformação */
    }
    100% {
        transform: translateX(0px);
        transform: translateY(0) scale(1, 1); /* Volta ao estado normal */
        opacity: 1;
    }
}
